<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       					   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            			   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	default-lazy-init="false">

	<bean id="propertyConfigurer"
		class="com.spring.MyPropertyPlaceholderConfigurer">
		<property name="path" value="file:conf/"/>
		<property name="locations">
			<list>
				<value>file:conf/*.properties</value>
			</list>
		</property> 
	</bean>
	
	
	<bean id="testPro" class="com.spring.TestPro">
		<property name="aaa" value="${aaa}"/>
	</bean>


</beans>