<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       					   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            			   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	default-lazy-init="false">

	<context:component-scan base-package="com.annotation.springlock" />
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>


	<!-- <aop:aspectj-autoproxy proxy-target-class="true"> <aop:include name="dlockInterceptor" 
		/> </aop:aspectj-autoproxy> -->


	<!-- <aop:config> <aop:pointcut id="log" expression="execution(* com.annotation.springlock.*(..))"/> 
		<aop:aspect id="logging" ref="dlockInterceptor"> <aop:before pointcut-ref="log" 
		method="before" /> <aop:after-returning pointcut-ref="log" method="afterReturning" 
		/> </aop:aspect> </aop:config> -->


<!-- 	<bean id="myPointcut"
		class="org.springframework.aop.support.annotation.AnnotationMatchingPointcut">
		<constructor-arg index="0"><null/></constructor-arg>
		<constructor-arg index="1"
			value="com.annotation.springlock.Dlock"></constructor-arg>
	</bean>

	<bean id="testAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
		<property name="advice" ref="dlockInterceptor" />
		<property name="pointcut" ref="myPointcut" />
	</bean> -->

	<!-- <bean id="matchBeforeAdvisor" class="org.springframework.aop.aspectj.AspectJExpressionPointcutAdvisor"> 
		<property name="expression" value="execution(* com.annotation.springlock.*.*(..)) 
		&& @annotation(com.annotation.springlock.Dlock)"></property> <property name="advice" 
		ref="dlockInterceptor"></property> </bean> -->

</beans>